*{
    padding: 0;
    margin: 0;
}
.clearfix:after{
    content: "";
    clear: both;
    display: block;
}
@font-face {
    font-family: 'iconfont';
    src: url('../iconfont.eot');
    src: url('../iconfont.eot?#iefix') format('embedded-opentype'),
    url('../iconfont.woff') format('woff'),
    url('../iconfont.ttf') format('truetype'),
    url('../iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*site css start*/
.site-topbar{
    width: 100%;
    height: 40px;
    background-color: #333;
    font-size: 12px;
    color: #b0b0b0;
    position: relative;

    /*overflow: hidden;*/
}
.site-topbar:after{
    content: "";
    clear: both;
    display: block;
}
.site-topbar .container{
    margin: 0 auto;
    width: 1226px;
}
.site-topbar .topbar-nav{
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    float: left;
}
.site-topbar .topbar-nav a{
    color: #b0b0b0;
    text-decoration: none;
}
.site-topbar .topbar-nav a:hover{
    color: #ffffff;
}
.site-topbar .sep{
    font-family: sans-serif;
    margin: 0 5px;
}
.site-topbar .topbar-card{
    float: right;
    height: 40px;
    line-height: 39px;

}
.site-topbar .topbar-card a{
    color: #b0b0b0;
    text-decoration: none;
    display: block;
    background-color: #666666;
    width: 100px;
    text-align: center;
    cursor: auto;


}
.site-topbar .topbar-card a:hover{
    color: #f56600;
    background-color: #ffffff;
}
.site-topbar .topbar-info{
    float: right;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
}
.site-topbar .topbar-info a{
    color: #b0b0b0;
    text-decoration: none;

    width: 100px;
    text-align: center;
    cursor: auto;
}
.site-topbar .topbar-info a:hover{
    color: #ffffff;
}
/*site css end*/

/* header css start */
.header{
    height: 100px;
    position: relative;

}
.header .container{
    margin: 0 auto;
    width: 1226px;
}
.header .header-logo{
    width: 62px;
    margin-top: 22px;
    float: left;
}
.header .header-logo a{
    display: block;
    width: 55px;
    height: 55px;
    background:#ff6700 url("../images/mi-logo.png");
    overflow: hidden;
    position: relative;
}
/* header css end */