*{
    margin: 0;
    padding: 0;
}
/*global css start*/

.content{
    width: 1226px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding: 0;
}
.clearfix:after{
    content: "";
    clear: both;
    display: block;
}
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/* global css end */
/* topbar css start */
.topbar{
    height: 40px;
    line-height: 40px;
    width: 100%;
    font-size: 12px;
    background-color: #333333;
    color: #b0b0b0;
}

.topbar a{
    color: #b0b0b0;
    text-decoration: none;
}
.topbar a:hover{
    color: #ffffff;
}
.topbar .topbar-left{
    float: left;
}
.topbar span{
    margin: 0 3px;
}
.topbar .topbar-right{
float: right;
}
.topbar .topbar-cart{
    background-color: #424242;
    float: right;
    width: 120px;
    height: 40px;
    text-align: center;
    margin-left: 20px;

}
.topbar .topbar-cart:hover{
    color: #ff6700;
    background-color: #ffffff;
}
/*topbar css end*/

/* header css start */
.header .content{
    padding: 20px 0;

}
.header .header-left{
    float: left;
}
.header .header-left a{
    display: block;
    height: 55px;
    width: 55px;
    background: #ff6700;
}
.header .header-left a:after{
    content: "";
    display: block;
    width: 55px;
    height: 55px;
    background: url("../images/mi-logo.png" ) no-repeat center;


}
.header .header-center{
    margin-left: 180px;
    float: left;
}
.header .header-center ul{
    list-style-type: none;
}
.header .header-center li{
    float: left;
    height: 55px;
    line-height: 55px;
    padding: 0 10px;
}
.header .header-center a{
    font-size: 16px;
    color: #333333;
    text-decoration: none;
}
.header .header-center a:hover{
    color: #ff6700;
}
.header .header-right{
    float: right;
    position: relative;
}
.header .header-right input{
    height: 53px;
    width: 214px;
    display: inline-block;
    padding: 1px 17px;
    border:1px solid #e0e0e0;
}
.header .header-right .search-btn{
    float: right;
    height: 55px;
    width: 55px;
    border: 1px solid #e0e0e0;
    text-decoration: none;
    color: #616161;
    text-align: center;
    line-height: 55px;
    border-left: 0;
}
.header .search-btn:hover{
    background-color: #ff6700;
    color: #ffffff;
}
.header .search-btn i{
    font-size: 24px;
}
.header .header-right .input-text{
    position: absolute;
    top: 14px;
    right: 62px;
}
.header .input-text a{
    text-decoration: none;
    margin-left: 5px;
    padding: 0 5px;
    font-size: 12px;
    background: #eee;
    color: #757575;

}
.header .input-text a:hover{
    color:#ffffff;
    background-color: #ff6700;
}
/* header css end */
/*slider css start*/
.slider-bar .slider-content{
    width: 1226px;
    height: 460px;
    /*background-color: #00aaee;*/
}
.slider-bar .slider-site{
    position: relative;
    height: 460px;

}
.slider-bar .slider-left{
    position: absolute;
    width: 234px;
    top:0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.6);
    padding: 20px 0;
    box-sizing: border-box;
}
.slider-bar .slider-left ul{
    padding-left:0;
    list-style-type: none;
}
.slider-bar .slider-left a{
    display: block;
    height: 42px;
    padding-left: 30px;
    padding-right: 20px;
    font-size: 14px;
    color: #fff;
    line-height: 42px;
}
.slider-bar .slider-left a:hover{
    background-color: #ff6700;
}
.slider-bar .slider-left i{
    float: right;
    font-size: 18px;
}
.slider-bar .si-top{
    position: absolute;
    top:50%;
    left: 234px;
    height: 70px;
    width: 992px;
    margin-top: -35px;
}
.slider-bar .si-top a{
    display: block;
    width: 41px;
    height: 69px;
    background-color: #dddddd;
    float: left;
    background-position: -85px 0;
    background-image: url("../images/icon-slides.png");
}
.slider-bar .si-top a:last-child{
    float: right;
    background-position: -125px 0;
}
.slider-bar .si-top .sit-left:hover{
    background-position: 0 0;
}
.slider-bar .si-top .sit-right:hover{
    background-position: -42px 0;
}
.slider-bar .si-bottom{
    position: absolute;
    bottom: 35px;
    right: 65px;

    /*background-color: #d32f2f;*/

}
.slider-bar .si-bottom li{
    float: left;
}
.slider-bar .si-bottom a{
    display:block;
    height: 10px;
    width: 10px;
    border: 2px solid #fff;
    background-color: rgba(0,0,0,0.4);
    border: rgba(255,255,255,0.3);
    border-radius: 50%;
    margin: 0 5px;
}
.slider-bar .si-bottom a:hover{
    background-color: rgba(255,255,255,0.6);
    border-color:  rgba(0,0,0,0.3);
}
.slider-bar .slider-bottom .content{
    margin-top: 14px;
}
.slider-bar .slider-bottom .bottom-1{
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    float: left;
    margin-right: 2px;
}
.slider-bar .slider-bottom ul li{
    position: relative;
    text-align: center;
    float: left;
    width: 72px;
    padding: 0 3px;
    padding-top: 20px;
    margin-top: 10px;

}
.slider-bottom ul li:after{
    position: absolute;
    top:5px;
    left: 5px;
    content: "";
    width: 65px;
    height: 1px;
    background-color: #665e57;
}
.slider-bottom ul li:before{
    position: absolute;
    top:10px;
    right: 0;
    height: 58px;
    width: 1px;
    background-color: #665e57;
    content: "";

}
.slider-bottom li.top:after{
    display: none;
}
.slider-bar .slider-bottom ul a{
    font-size: 12px;
    color: rgba(255,255,255,0.7);

}
.slider-bar .slider-bottom ul i{
    display: block;

}
.slider-bar .slider-bottom .bottom-img{
    float: left;
    width: 316px;
    height: 170px;
    margin-left: 14px;
}
.slider-bar .bottom-img img{
    width: 316px;
    height: 170px;
}
/*slider cdd end*/
/* plain-box css start */
.plain-box{
    margin-top: 30px;
}
.plain-box .content{
    position: relative;
    overflow: hidden;
}
.plain-box .more{
    position: absolute;
    right: 0;
    top: 5px;
}
.plain-box .more a{
    float: left;
    display: block;
    width: 36px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #dddddd;
    text-align: center;

}
/*.plain-box .more a:last-child{*/
    /*margin-left: 5px;*/
/*}*/
.plain-box .more a:hover{
    color: #ff6700;
}
/*.plain-box .pb-slider{*/
    /*width: 234px;*/
    /*height: 340px;*/
    /*background-color: #fafafa;*/
/*}*/
.plain-box .pb-slider{
    width: 2000px;
}
.plain-box li{
    background-color: #fafafa;
    border-top:1px solid #ff6700;
    width: 234px;
    height: 299px;
    float: left;
    text-align: center;
    padding-top: 40px;
    margin-right: 14px;

}
.plain-box li img{
    width: 160px;
    height: 160px;
}
.plain-box li h3{
    color: #212121;
    font-size: 14px;
    margin:0 20px 3px;
}
.plain-box li p{
    color: #b0b0b0;
    font-size: 12px;
    margin: 0 20px 12px;
}
.plain-box li .price{
    color: #ff6709;
    font-size: 14px ;
}
/* plain-box css end */
/* home-brick-box css start */
.home-brick-box {
    margin-top: 26px;
}
.home-brick-box .content{
    position: relative;
}
.home-brick-box .hbb-right{
    position: absolute;
    right: 0;
    top: 0;
}
.home-brick-box .hbb-right li{
    float: left;
    color: #424242;
    font-size: 14px;
    margin-left: 20px;
}
.home-brick-box .hbb-right .li-active{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.home-brick-box .box-bd .span4{
    width: 234px;
    height: 615px;
    background-color: #dddddd;
    float: left;
    overflow: hidden;
}
.home-brick-box .box-bd .span16{
    width: 992px;
    height: 628px;
    float: left;
    overflow: hidden;

}
.home-brick-box .span16 li{
    width: 234px;
    height: 300px;
    background-color: #5f5750;
    float: left;
    margin: 0 0 14px 14px;
    text-align: center;

}
.home-brick-box .brick-item{
    width: 234px;
    height: 143px;
    background-color: #00aaee;
    margin-bottom: 14px;
}
.home-brick-box .span16 .span-text{
    margin-top: -20px;
}
.home-brick-box .span16 .price{
    color: #ff6700;
}
.home-brick-box .span16 p{
    font-size: 14px;
    color: #dddddd;
}
/* home-brick-box css end */